@{
    ViewBag.Title = "Home Page";
}

@*<div class="col-md-12">
   
   
    <hr />

    <div class="form-group">
        <label for="email">User Name:</label>
        <input type="Text" class="form-control" id="toUser" value="" placeholder="Praveen" />
    </div>
    <div class="form-group">
        <label for="pwd">Message:</label>
        <input type="text" class="form-control" id="cityname" value="" placeholder="message" />
    </div>

    <button type="submit" class="btn btn-default" id="submit">Submit</button>

</div>*@

